$break-small: 768px;

._release-notes {
  ._release {
    margin: 1em 0 2em 0;
    ._release-header {
      display: flex;
      align-items: center;
      ._release-date {
        margin: 0 0 5px 0.5em;
        font-size: 200%;
        font-weight: 300;
        @media screen and (max-width: $break-small) {
          font-size: 170%;
          margin: 0 0 5px 0.3em;
        }
      }
      ._release-version {
        background-color: #ce93d8;
        width: 65px;
        border-radius: 5px;
        text-align: center;
        padding-top: 4px;
        padding-bottom: 4px;
        margin-bottom: 3px;
        font-weight: 500;
      }
    }
    ._changes-list {
      margin-left: 80px;
      margin-top: 0.5em;
      list-style: none;
      transition: all 0.2s ease;
      @media screen and (max-width: $break-small) {
        margin-left: 0px;
        margin-top: 0px;
        padding-left: 0px;
      }
      ._change {
        display: flex;
        align-items: top;
        margin-bottom: 0.5em;
        ._change-type {        
          border-radius: 5px;
          text-align: center;
          width: 65px;
          text-transform: uppercase;
          font-size: 60%;
          font-weight: 500;
          padding-top: 2px;
          padding-bottom: 2px;
          margin-top: 2px;
          margin-right: 1em;
          margin-bottom: auto;          
          &._green {
            background-color: #a5d6a7;
          }
          &._blue {
            background-color: #90caf9;
          }
          &._orange {
            background-color: #ffab91;
          }
        }
        ._change-description {
          flex: 1;
          text-align: left;
        }
      }
    }
  }
}

